@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins');

body{
    margin: 0;
    padding: 0;
    background: black;
}

#skip-buttons-list{
    padding: 0;
    margin: 0;
}

.skip-buttons-left{
    padding: 10px;
    color: grey;
    background: linear-gradient(to right, #000000, #333333);
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    min-width: 150px;
}

.skip-buttons-left:hover{
    color: white;
    background: linear-gradient(to left, rgb(235, 113, 0), #000000);
    cursor: pointer;
}

.skip-buttons-right{
    padding: 10px;
    color: grey;
    background: linear-gradient(to left, #000000, #333333);
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    min-width: 150px;
}

.skip-buttons-right:hover{
    color: white;
    background: linear-gradient(to right, rgb(235, 113, 0), #000000);
    cursor: pointer;
}

#other-skip-button{
    padding: 10px;
    color: grey;
    background: linear-gradient(to right, #000000, #333333, #000000);
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    width: 200%;
}

#other-skip-button:hover{
    color: white;
    background: linear-gradient(to left, #000000, rgb(235, 113, 0), #000000);
    cursor: pointer;
}