@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins');

body{
    margin: 0;
    padding: 0;
    background: black;
}

#skip-buttons-list{
    padding: 0;
    margin: 0;
}

.skip-buttons-left{
    min-height: 50px;
    color: grey;
    background: linear-gradient(to right, #000000, #333333);
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    min-width: 150px;
    border-radius: 5px;
}

.skip-buttons-left:hover{
    color: white;
    background: linear-gradient(to left, rgb(235, 113, 0), #000000);
    cursor: pointer;
}

.skip-buttons-right{
    min-height: 50px;
    color: grey;
    background: linear-gradient(to left, #000000, #333333);
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    min-width: 150px;
    border-radius: 5px;
}

.skip-buttons-right:hover{
    color: white;
    background: linear-gradient(to right, rgb(235, 113, 0), #000000);
    cursor: pointer;
}

#other-skip-button{
    min-height: 50px;
    color: grey;
    background: linear-gradient(to bottom, #000000, #333333);
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    width: 200%;
    border-radius: 5px;
}

#other-skip-button:hover{
    color: white;
    background: linear-gradient(to top, rgb(235, 113, 0), #333333);
    cursor: pointer;
}